<!-- <%= 'IMPLEMENT ME' %> -->
<!-- <div class="hero-test">The best gifts for the best men in the world</div> -->

<%= content_for :top_banner do %>
  <section class="world best-gift">
      <h1 class="world-headline">The best gifts for men in the world</h1>
      <p class="world-description">We stuff our crates with snacks, gadgets,
      gears, and videogames. Then we seal them up tight and ship them without
      a crowbar. Have you ever opened a present with a crowbar? It's pretty
      awesome. So awesome that all our crates come with a high-five
      guarantee.</p>
  </section>

  <nav class="world filter navbar navbar-default">
      <div class="container-fluid filter-container">
          <div class="navbar-header filter-price-container">
              <span class="navbar-brand filter-by">Filter by</span>
              <span class="navbar-header filter-products-count">84 products</span>
              <button class="btn filter-price btn-filter btn-md-tall" type="button">$0 - $50</button>
              <button class="btn filter-price btn-filter btn-md-tall" type="button">$50 -$99</button>
              <button class="btn filter-price btn-filter btn-md-tall" type="button">$100+</button>
          </div>
          <div class="filter-link-container"><i class="material-icons filter-link-icon">view_module</i><a href="#" class="filter-link">Filter</a></div>
          <div class="navbar-header filter-add-container">
              <div class="btn-group">
                  <button class="btn filter-add btn-filter btn-lg-tall filter-add-title" data-target="#rep-filter-card" data-toggle="collapse">Add Filters</button>
                  <button class="btn filter-add btn-filter btn-lg-tall filter-add-prompt">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                  </button>
                  <div class="filter-clear"><a href="#">clear filters</a></div>
              </div>
          </div>

          <div class=filter-showing-container>
            <span class="filter-showing">Showing 84 products</span>
          </div>
      </div>
  </nav>
<% end %>

<div class="item-format-list">
  <div class="item-format item-format-exotic-meats-1">
    <%= link_to(image_tag('store/products/exotic_meats/em_1.jpg', alt: "Exotic Meats 1"), category_path('em_1')) %>

    <h2 class="item-title">Exotic Meats Crate 1</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-personalized-flask">
    <%= link_to(image_tag('store/products/personalized_flask/pf_1.jpg', alt: "Personalized Flask"), category_path('pf_1')) %>

    <h2 class="item-title">Personalized Flask 1</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="item-new">
        New Product!
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-nfl-barware-1">
    <%= link_to(image_tag('store/products/nfl_barware/nfl_bw_1.jpg', alt: "NFL Barware "), category_path('nfl_bw1')) %>

    <h2 class="item-title">NFL Barware 1</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-personalized-whiskey-2">
    <%= link_to(image_tag('store/products/personalized_whiskey/pw_2.jpg', alt: "Personalized Whiskey 1 "), category_path('pw_2')) %>

    <h2 class="item-title">Personalized Whiskey 2</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-exotic-meats-2">
    <%= link_to(image_tag('store/products/exotic_meats/em_2.jpg', alt: "Exotic Meats 2 "), category_path('em_2')) %>

    <h2 class="item-title">Exotic Meats Crate 2</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-exotic-meats-3">
    <%= link_to(image_tag('store/products/exotic_meats/em_3.jpg', alt: "Exotic Meats 3 "), category_path('em_3')) %>

    <h2 class="item-title">Exotic Meats Crate 3</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-flying-fish-shirt-1">
    <%= link_to(image_tag('store/products/flying_fish_shirt/ffs_1.jpg', alt: "Flying Fish Shirt 1"), category_path('ffs_1')) %>

    <h2 class="item-title">Fly Fish Shirt</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-personalized-whiskey-4">
    <%= link_to(image_tag('store/products/personalized_whiskey/pw_4.jpg', alt: "Personalized Whiskey 4"), category_path('pw_4')) %>

    <h2 class="item-title">Personalized Whiskey 4</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-personalized-whiskey-5">
    <%= link_to(image_tag('store/products/personalized_whiskey/pw_5.jpg', alt: "Personalized Whiskey 5"), category_path('pw_5')) %>

    <h2 class="item-title">Personalized Whiskey 5</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-nfl-bw-4">
    <%= link_to(image_tag('store/products/nfl_barware/nfl_bw_4.jpg', alt: "NFL Barware 4"), category_path('nfl_bw_4')) %>

    <h2 class="item-title">NFL Barware 4</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-exotic-meats-4">
    <%= link_to(image_tag('store/products/exotic_meats/em_4.jpg', alt: "Exotic Meats 4"), category_path('em_4')) %>

    <h2 class="item-title">Exotic Meats Crate 4</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>

  <div class="item-format item-format-exotic-meats-5">
    <%= link_to(image_tag('store/products/exotic_meats/em_5.jpg', alt: "Exotic Meats 5"), category_path('em_5')) %>

    <h2 class="item-title">Exotic Meats Crate 5</h2>
    <div class="item-information">
      <h4 class="item-price">$149.99</h4>
      <span class="rating-sm">
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-full"></i>
        <i class="rating-star rating-star-empty"></i>
      </span>
    </div>
    <p class="item-description"><span class="item-description-headline">Lorem ipsum dolor sit amet,</span> tota invidunt ex duo. Has an partiendo omittantur, ad rebum platonem honestatis his. Solet graeci abhorreant nec ei, ferri justo mediocritatem at mea. Sea stet mazim alienum ut. Ne civibus tacimates percipitur his, case idque impetus te his. Cu splendide intellegat constituam eum, at mollis legendos pri.</p>
    <button class="btn btn-primary btn-lg-wide item-view-btn">View this product</button>
  </div>
</div>
